@import "bootstrap-sass/bootstrap";
@import "neat/neat";
@import "variables";
//@import "reset";
@import "general";

.container-fluid {
  @include media($smaller-than-md-screen) {
    max-width: $container-sm;
    padding-left:10px;
    padding-right: 10px;
  }
  @include media($smaller-than-lg-screen) {
    max-width: $container-lg;
  }
  @include media($bigger-than-lg-screen) {
    max-width: $container-lg;
  }
}

@include media($smaller-than-sm-screen) {
  blockquote {
    padding: 10px 15px;
    margin: 0 0 15px;
  }

  ul {
    padding-left: 20px;
  }
}

body {
  > header {
    background-color: $color-header-blue;
    color: white;
    border-bottom: 1px solid #abd9ed;
    box-shadow: 0 1px 0 #134054;
    padding-right: 10px;

    > nav {
      height: $top-nav-height;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //max-width: $grid-width;
      margin: auto;

      .small-menu {
        display: none;
      }
      .large-menu {
        display: inline;
      }

      @include media($smaller-than-md-screen) {
        flex-direction: column;
        height: auto;

        .small-menu {
          display: inline;
        }
        .large-menu {
          display: none;
        }
      }

      h1.logo {
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: .01em;
        width: $left-menu-width;
        padding-left: 15px;

        img {
          height:$top-nav-height;
          vertical-align: middle;
        }

        @include media($smaller-than-md-screen) {
          width: auto;
          padding-right: 15px;
        }

      }

      img.icon {
        vertical-align: middle;
        height: 20px;
        margin-right: 3px;
      }

      a.icon:hover {
        opacity: 0.5;
      }


      > ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        @include media($smaller-than-md-screen) {
          white-space: nowrap;
          text-align: center;
          > li {
            display: inline-block;
          }
        }
        > li {
          align-self: center;
          margin-right: 10px;
          font-size: 18px;
          &:last-child {
            margin-right: 0;
          }
          &.separator {
            width: 2px;
            height: $top-nav-height;
            @include media($smaller-than-md-screen) {
              height: 20px;
            }
            background: linear-gradient(to bottom, rgba(33, 115, 150, 0), rgba(33, 115, 150, 1));
            &::before {
              content: "";
              width: 1px;
              height: $top-nav-height;
              @include media($smaller-than-md-screen) {
                height: 20px;
              }
              display: block;
              background: linear-gradient(to bottom, rgba(171, 217, 237, 0), rgba(171, 217, 237, 1));
            }
          }
        }
      }

      > ul.links-1 {
        flex-grow: 1;
      }

      > ul.links-2 {

      }

      .links-1, .links-2 {
        img {
          height: 18px;
        }
      }
    }

    a {
      color: white;
    }
    a:hover {
      color: $color-orange-lighter;
    }
  }

  > footer {
    background-color: #303030;
    padding: 15px;
    color: whitesmoke;
    a {
      color: whitesmoke;
    }
    a:hover {
      color: white;
    }
  }
}

.panel {

  & > .panel-body.padded {
    padding: 0 15px;
  }

  > .panel-header {
    h1, h2, h3 {
      color: $color-brick-red;
      font-size: $title-font-size;
    }
  }

  margin-bottom: 20px;

}

.toto-list {
  list-style: non;
  margin: 0;
  padding: 0;
  > li {
    list-style: none;
    padding: 15px 10px;
  }
}

.flex-container {
  margin-top: 1px; // Due to box shadow on header
  display: flex;
  flex-direction: row;

  > nav.next-events {
    background: linear-gradient(to bottom, rgba(144, 46, 209, 1), rgba(88, 134, 209, 1));
    color: white;
    width: $left-menu-width;
    min-width: $left-menu-width;
    max-width: $left-menu-width;
    @include media($smaller-than-md-screen) {
      width: $left-menu-collapsed-width;
      min-width: $left-menu-collapsed-width;
      max-width: $left-menu-collapsed-width;
    }
    @include media($smaller-than-sm-screen) {
      width: $left-menu-super-collapsed-width;
      min-width: $left-menu-super-collapsed-width;
      max-width: $left-menu-super-collapsed-width;
    }
    ul {
      padding: 0;
      list-style: none;
    }

    a {
      color: white;
      &:hover {
        text-decoration: none;
        .event {
          background-color: #6e6e6e;
        }
      }
    }

    .event {
      padding: 0 10px;
      display: flex;
      align-items: center;
      height: 80px;
      @include media($smaller-than-sm-screen) {
        padding: 0 5px;
        height: 60px;
      }

      &:not(:first-child) {
        border-top: 1px solid #b9b9b8;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #666667;
      }

      .date {
        text-align: center;
        .day {
          font-weight: bold;
          font-size: xx-large;
          @include media($smaller-than-sm-screen) {
            font-size: x-large;
          }
        }
        .month {
          margin-top: -10px;
          @include media($smaller-than-sm-screen) {
            font-size: 90%;
          }
        }
      }
      .content {
        @include media($smaller-than-md-screen) {
          display: none;
        }
        padding-left: 15px;
        text-transform: uppercase;
        .name {
          font-weight: bold;
        }
        .organizer {
          color: #cacaca;
          margin-top: -5px;
        }
      }
    }

  }

  > main {
    flex-grow: 1;
    padding-top: 40px;
    padding-bottom: 30px;
    @include media($smaller-than-md-screen) {
      padding-top: 20px;
    }
  }
}

.event {
  .live {
    .badge {
      background-color: red;
    }
  }
}

.twitch-placeholder {
  background-image: url("../images/twitch/Twitch_White_RGB.png");
  background-color: $color-twitch-pruple;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}

.streams {
  .twitch-stream {
    width: 100%;
    @include aspect-ratio(16, 9);
    position: relative;
    > iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
    }
  }

  ul {
    list-style: none;
    padding: 15px 0 0 0;
    li {
      text-align: center;
      > div {
        overflow: hidden;
      }
      img, .twitch-placeholder {
        height: 70px;
        width: 70px;
        margin: auto;
        @include media($smaller-than-sm-screen) {
          height: 60px;
          width: 60px;
        }
        @include media($smaller-than-xs-screen) {
          height: 30px;
          width: 30px;
        }
      }
      .channel-name {
        text-overflow: clip;
      }
      padding-bottom: 25px;
    }
  }
}

.home-page {

  > .streams {


  }

  > .next-events {
  }

  > .news {
  }

  .latest-news {
    $news-width: 310px;
    ul {
      list-style: none;
      padding: 0;
    }
    .news {
      max-width: $news-width;
      margin: auto;
      padding-bottom: 20px;
      img {
        @include aspect-ratio(310, 190);
        margin: auto;
        width: 100%;
        max-width: $news-width;
      }

      .information {
        padding-top: 5px;
        padding-left: 5px;
        color: $color-light-grey;
      }
    }
  }

  > .recruitment {
    h2 {
      color: #0287cf;
    }
    h3 {
      color: $color-brick-red;
      text-align: right;
      text-transform: uppercase;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    .ad {
      h4 {
        color: #0287cf;
        font-weight: bold;
      }
      .read-more {
        text-align: right;
      }
    }
  }
}

.login-page {
  @include outer-container;
  > .login {
    @include span-columns(6);
    @include media($smaller-than-mobile) {
      @include span-columns(12)
    }
  }

  > .register {
    @include span-columns(6);
    @include media($smaller-than-mobile) {
      @include span-columns(12)
    }
  }
}

.news-page {
  .news {
    .details {
      color: $color-light-grey;
    }
    .content {
      margin-top: 20px;
    }
  }
  ul.news-list {
    $news-width: 310px;
    list-style: none;
    padding: 0;
    .news {
      max-width: $news-width;
      margin: auto;
      padding-bottom: 40px;
      img {
        @include aspect-ratio(310, 190);
        margin: auto;
        width: 100%;
        max-width: $news-width;
      }

      .information {
        padding-top: 5px;
        padding-left: 5px;
        color: $color-light-grey;
      }
    }
  }
}

.event-details-page {
  .stream {
    width: 100%;
    @include aspect-ratio(16, 9);
    position: relative;
    > iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
    }
  }
  .event-details {
    .name, .organizer {
      text-align: right;
      text-transform: uppercase;
      color: $color-brick-red;
      font-size: $font-size-h4;
      a {
        color: $color-brick-red;
      }
    }
    .name {
      font-weight: bold;
    }
    dl {
      dt, dd {
      }
      dt {
        font-weight: bold;
        color: $color-highlight;
        width: 100px;
        float: left;
        clear: left;
      }
      dd {
        margin-bottom: 10px;
      }
    }
    .rules {
      margin-top: 30px;
      > .title {
        font-weight: bold;
        color: $color-highlight;
      }
    }
  }
}

.recruitment-ad-page {
  .card {
    .title {
      text-align: right;
      text-transform: uppercase;
      color: $color-brick-red;
      font-size: $font-size-h4;
    }
    .rank {
      font-size: 74px;
      font-weight: bold;
      color: $color-highlight;
      text-align: center;
    }
    h4 {
      font-weight: bold;
      color: $color-highlight;
    }
    .presentation {
      margin-top: 20px;
    }
    .reply {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(171, 217, 237, 0.3);
      &:last-child {
        border-bottom: 0;
        margin-bottom: 10px;
      }
    }
  }
}

ul.row.articles {
  $article-width: 310px;
  list-style: none;
  padding: 0;
  .article {
    max-width: $article-width;
    margin: auto;
    padding-bottom: 20px;
    img {
      @include aspect-ratio(310, 190);
      margin: auto;
      width: 100%;
      max-width: $article-width;
    }

    .information {
      padding-top: 5px;
      padding-left: 5px;
      color: $color-light-grey;
    }
  }
}

.ladder-page, .team-page {
  @include media($smaller-than-sm-screen) {
    table {
      margin-left: -10px;
      margin-right: -10px;
      width: calc(100% + 20px);
    }
    thead {
      th {
          span, abbr {
            writing-mode: vertical-lr;
          }
      }
    }
  }
  @include media($smaller-than-xs-screen) {
    table {
      font-size: 85%;
    }
    tr {
      border: 0;
    }
    th, td {
      padding: 1px !important;
      border: 1px solid #dadada !important;
    }
  }
  th.evolution, td.evolution {
    text-align: center;
  }
  img.evolution {
    height: 25px;
  }
}