@import "bootstrap-sass/bootstrap";
@import "neat/neat";
@import "variables";
//@import "reset";
@import "general";

body {
  > header {
    background-color: $color-brick-red;
    color: white;
    margin-bottom: 40px;

    > nav {
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: $grid-width;
      margin: auto;

      @media screen and (max-width: $grid-width + 80px) {
        padding: 0 40px;
      }

      h1 {
        margin: 0;
        font-weight: bold;
        height: 22px;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: .01em;
      }

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
          margin-right: 10px;
          font-size: 18px;
          display: inline-block;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      @include media($smaller-than-narrow-screen) {
        flex-direction: column;
        padding-top: 10px;
        height: auto;
        > h1 {
          margin-bottom: 5px;
        }
        > ul {
        }
      }

      @include media($smaller-than-mobile) {
        > h1 {
          margin-bottom: 10px;
        }
        > ul {
          > li {
            display: block;
            text-align: center;
            margin-bottom: 5px;
          }
        }
      }
    }

    a {
      color: white;
    }
    a:hover {
      color: $color-orange-lighter;
    }
  }

  > footer {
    background-color: #303030;
    padding: 15px;
    color: whitesmoke;
    a {
      color: whitesmoke;
    }
    a:hover {
      color: white;
    }
  }
}

.panel {
  //background-color: white;
  //border: 2px solid lightgrey;
  //border-radius: 5px;
  //margin: 10px auto;

  & > .panel-body.padded {
    padding: 0 15px;
  }

  > .panel-header {
    h1, h2, h3 {
      color: $color-brick-red;
      font-size: $title-font-size;
    }
  }

  margin-bottom: 20px;

}

.toto-list {
  list-style: non;
  margin: 0;
  padding: 0;
  > li {
    list-style: none;
    padding: 15px 10px;
  }
}

.next-events {
  .date {
    font-weight: bold;
  }
  .time, .organizer {
    color: dimgrey;
  }

}

.event {
  .live {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
  }
}

.home-page {

  h2 {
    text-align: right;
    margin-bottom: 25px;
  }

  > .streams {
    .twitch-placeholder {
      background-image: url("../images/twitch/Twitch_White_RGB.png");
      background-color: $color-twitch-pruple;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 150px;
      @include aspect-ratio(16,9);
    }
  }

  > .next-events {
  }

  > .news {
  }

  > .recruitment {
    h2 {
      color: #0287cf;
    }
    h3 {
      color: $color-brick-red;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    .ad {
      h4 {
        color: #0287cf;
        font-weight: bold;
      }
      .read-more {
        text-align: right;
      }
    }
  }
}

.login-page {
  @include outer-container;
  > .login {
    @include span-columns(6);
    @include media($smaller-than-mobile) {
      @include span-columns(12)
    }
  }

  > .register {
    @include span-columns(6);
    @include media($smaller-than-mobile) {
      @include span-columns(12)
    }
  }
}