@import "neat/neat";
@import "bootstrap-sass/bootstrap/variables";

$grid-width: 1150px;
$body-lateral-padding: 20px; // Body here refers to the <main> tag
$body-width: $grid-width - $body-lateral-padding;

$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 30px;

$body-font-size: $font-size-m;
$title-font-size: 28px;

$color-orange: #FF6347;
$color-orange-lighter: #ffd3c2;
$color-orange-darker: #cc4f35;
$color-brick-red: #790000;
$color-danger: red;
$color-info: $color-orange;
$color-twitch-pruple: #6441a4;
$color-light-grey: lightslategray;
$color-header-blue: #2ea0d1;
$color-highlight: #0287cf;

$top-nav-height: 57px;
$left-menu-width: 325px;
$left-menu-collapsed-width: 60px;

$smaller-than-mobile: new-breakpoint(max-width 500px 12);
$smaller-than-narrow-screen: new-breakpoint(max-width 960px 12);
$smaller-than-xs-screen: new-breakpoint(max-width $screen-xs 12);
$smaller-than-sm-screen: new-breakpoint(max-width $screen-sm 12);
$smaller-than-md-screen: new-breakpoint(max-width $screen-md 12);
$smaller-than-lg-screen: new-breakpoint(max-width $screen-lg 12);
$bigger-than-lg-screen: new-breakpoint(min-width $screen-lg 12);



// source of the aspect-ratio mixin:
// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before{
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}